#detail-question{
    width: 80vw;
    .question-item{
        i{
            display: none;
            
        }
        &:hover{
            i{
                display: inline
            }
            
        }
    }
}
