#detail-question{
    width: 80vw;
    .list-group-item .d-inline .question-item{
        .icon-info{
            display: none;
            
        }
        &:hover{
            .icon-info{
                display: inline
            }
            
        }
    }
}
