
<div class="container-fluid">
        <div class="row mb-4">
            <div class="col-sm-6">
                <h3>Danh sách câu hỏi</h3>
                <ng-container *ngIf="loading">
                    Đang tải dữ liệu
                </ng-container>
                
                <div class="btn-list-questions d-flex align-items-end flex-column mb-5">
                        <div class="input-group ">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-search"></i>
                                    </span>
                                                
                                </div>
                                <input name="searchCandidates" type="text" class="form-control" placeholder="Nhập từ khoá ..." aria-label="Search" aria-describedby="basic-addon2">
                            </div>
                         
                </div>
                    <div class="list-questions" data-spy="scroll" style="height: 60vh; overflow-y: scroll">
                    
                        <ul class="list-group">
                            <ng-container *ngFor="let q of questionList">
                                <li class="list-group-item d-inline question-item">{{q.questionContent}}
                                    <a href="#detail-question" class="icon-info" data-toggle="modal">
                                        <i class="fa fa-eye" (click)="getSelectedQuestion(q.id)"></i>
                                    </a>
                                </li>
                                
                            </ng-container>
                        </ul>     
                    </div>
                
    
                
            </div>
            <div class="col-sm-6">
                
                <div class="row justify-content-end mr-1">
                    <div class="col-sm-2">
                        <button>Save</button>
                    </div>
                </div>
                <div class="row" style="height: 30vh;background: indianred">
                    
                        
                </div>
                <div class="row" style="height: 70vh">
                    <div class="col-sm-2" style="background: greenyellow"></div>
                    <div class="col-sm-10" style="background: hotpink"></div>
                </div>
               
                
            </div>
        </div>
        <div id="detail-question" tabindex="-1" role="dialog" class="modal fade">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        
                            <div class="modal-header">
                                    <h4 class="modal-title">Chi tiết câu hỏi</h4>
                                    
                                </div>
                            <div class="modal-body">
                                <div class="row">
                                        <div class="col-sm-6">
                                                <div class="form-row">
                                                        <div class="col-sm-12">
                                                            <label >Nội dung: </label>
                                                            <b >{{selectedQuestion.questionContent}}</b>
                                                            
                                                        </div>                                
                                                    </div>
                                                    <div class="form-row">
                                                            <div class="col-sm-12">
                                                                <label >Điểm: </label>
                                                                <label>{{selectedQuestion.point}}</label>
                                                            </div>                                
                                                    </div>
                                                    <div class="form-row">
                                                            <div class="col-sm-12">
                                                                <label >Độ khó: </label>
                                                                <label [ngSwitch]="selectedQuestion.difficultyLevel">
                                                                        <label class="badge badge-success" *ngSwitchCase="1">
                                                                        Dễ
                                                                        </label>
                                                                        <label class="badge badge-warning" *ngSwitchCase="2">
                                                                        Trung bình
                                                                        </label>
                                                                        <label class="badge badge-danger" *ngSwitchDefault>
                                                                        Khó
                                                                        </label>
                                                                </label>
                                                                
                                                            
                                                            </div>
                                                    </div>
                                                    <div class="form-row">
                                                            <div class="col-sm-12">
                                                                <label >Kiểu câu hỏi:</label>
                                                                <label >{{selectedType.name}}</label>
                                                            
                                                            </div>
                                                    </div>
                                                    <div class="form-row">
                                                            <div class="col-sm-12">
                                                                <label >Môn học:</label>
                                                                <label >{{selectedSubject.subjectName}}</label>
                                                            
                                                            </div>
                                                    </div>
                                                    <div class="form-row">
                                                            <div class="col-sm-12">
                                                                <label >Phần:</label>
                                                                <label >{{selectedPart.partName}}</label>
                                                            
                                                            </div>
                                                    </div>                              
                                        </div>
                                        <div class="col-sm-6">
                                                <div class="form-row">
                                                        <div class="col-sm-12">
                                                            <label >Đáp án:</label>
                                                            <ng-container  *ngFor="let answer of selectedAnswers">
                                                                <p [ngClass]="{'text-success font-weight-bold': answer.correct, 'text-secondary': !answer.correct}">{{answer.answerContent}}</p>
                                                            </ng-container>
                                                            
                                                            
                                                            
                                                        </div>                                
                                                </div>
                                        </div>
                                </div>
                                
                                
                                
                                
                                       
                            </div>
                            <div class="modal-footer">
                                <input type="button" id="closeEditModal" class="btn btn-default" data-dismiss="modal" value="Huỷ">
                                <input type="submit" class="btn btn-primary" value="Lưu">
                            </div>
                        
                    </div>
                </div>
            </div>
    </div>

    <ngx-loading-bar></ngx-loading-bar>

